---
import styles from "./project-list.module.css";
import ProjectCard from "./ProjectCard.astro";
const projects = Object.values(await import.meta.glob('../../content/projects/*.md', { eager: true }));
---
<div id="projects" class={styles.sectionWrapper}>
  <h1 class={styles.heading}>projects</h1>
  <div class={styles.cardList}>
    {projects.map(project => (
      <ProjectCard
        key={project.frontmatter.title}
        title={project.frontmatter.title}
        excerpt={project.frontmatter.excerpt}
        slug={project.slug}
      />
    ))}
  </div>
</div>
