---
import styles from "./project-list.module.css";
import ProjectCard from "./project-card";
---
<div id="projects" class={styles.sectionWrapper}>
  <h1 class={styles.heading}>projects</h1>
  <div class={styles.cardList}>
    <!-- {projects.map(project => ( -->
    <!--   <ProjectCard -->
    <!--     key={project.title} -->
    <!--     title={project.title} -->
    <!--     excerpt={project.excerpt} -->
    <!--     slug={project.slug} -->
    <!--   /> -->
    <!-- ))} -->
  </div>
</div>
