---
import styles from "./experience-list.module.css";
import ExperienceCard from "./experience-card.astro";
---
<div id="experience" class={styles.sectionWrapper}>
  <h1 class={styles.heading}>experience</h1>
  <div class={styles.cardList}>
    <!-- {experience.map(e => ( -->
    <!--   <ExperienceCard -->
    <!--     key={e.title} -->
    <!--     title={e.title} -->
    <!--     role={e.role} -->
    <!--     location={e.location} -->
    <!--     start_date={e.start_date} -->
    <!--     end_date={e.end_date} -->
    <!--     html={e.html} -->
    <!--   /> -->
    <!-- ))} -->
  </div>
</div>

