---
import styles from './experience-list.module.css';
import ExperienceCard from './ExperienceCard.astro';
import { getCollection } from 'astro:content';

const experience = await getCollection('experience');
---
<div id="experience" class={styles.sectionWrapper}>
  <h1 class={styles.heading}>experience</h1>
  <div class={styles.cardList}>
    {experience.map(e =>
      <ExperienceCard
        title={e.data.title}
        role={e.data.role}
        location={e.data.location}
        start_date={e.data.start_date}
        end_date={e.data.end_date}
        html={e}
      />
    )}
  </div>
</div>

